*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}


body{
	font: normal 16px sans-serif;
	color: #333;
	background-color: #FE4A49;
}


.container{
	padding: 15px 10px;
	margin: 30px auto 50px;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	background-color: #fff;
	box-shadow: 0 0 1px #ccc;
}

/* Subreddit component */

.subreddit{
	flex: 0 0 50%;
	min-width: 400px;
	padding: 20px 42px;
}

.subreddit h2{
	font-family : "Roboto", sans-serif;
	text-transform: lowercase;
	font-weight: 800;
	font-size: 22px;
	margin-bottom: 10px;
}

.subreddit .item-list{
	border-top: 1px solid #222;
	padding-top: 20px;
	list-style: none;
}

.subreddit .item-list li{
	margin-bottom: 17px;
}

/* Post component */

.post{
	display: flex;
}

.post .thumbnail{
	display: block;
	flex: 0 0 60px;
	height: 60px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-right: 10px;
	border-radius: 4px;
	margin-right: 12px;
}

.post .details{
	display: flex;
	flex-direction: column;
}

.post .details .title{
	font-size: 18px;
	font-family : "Roboto", sans-serif;
	margin-bottom: 1px;
	color: #009FB7;
	transition : 0.2s ease;
}

.post .details .title:hover{
	text-decoration: none;
	color: #FE4A49;
	cursor: pointer;
	cursor: hand;
}

.post .details .title:visited{
	color: purple;
}

.post .details .action-buttons i, .post .details .action-buttons a{
	font-size: 13px;
	display: inline-block;
	color: #666;
}




@media(max-width: 1250px){

	.container{
		justify-content: center;
		margin: 30px 30px 50px 30px;
	}
}


@media(max-width: 500px){

	.subreddit{
		min-width: 300px;
	    padding: 20px 15px;
	}
}